@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://websfont.github.io/gmarket/gmarket.css');

.mont{
    font-family: "Montserrat";
}
.preten{
    font-family: "pretendard";
}
.gmarket{
    font-family: "gmarket";
}